/*
1.Posicionamiento --> (static, absolute, relative, fixed).
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más

*/

:root{
    /*Colores*/
    --bitcoin-orange:#F7931A; 
    --soft-orange:#FFE9D5;
    --secondary-blue:#1a9af7;
    --soft-blue:#E7F5FF; 
    --warm-black:#201E1C;
    --warm-black-card:#282623;  
    --black:#282623; 
    --grey: #BABABA;
    --off-white:#FAF8F7; 
    --just-white:#FFFFFF;
    --degradado: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --font-card: #808080; 

}

*{
    /*Para mantener las dimensiones y elinar el scroll horizontal*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /*Dimension mas pequena de las pantallas de los celulares*/
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: var(--degradado);

}

.header__title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    /*Interlineado*/
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 18px;
    color: var(--soft-orange);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    /*Manera de centrar un elemento que tenga un contenedor con display flex (El padre--> header*/
    /*Tambien como el display del contenedor esta en flex direction column, se podria centrar el contenido con align-tems: center. */
    align-self: center;
}

.header__title-container{
    width: 90%;
    /*No se hara mas chico que 288px*/
    min-width: 288px;
    /*No se hara mas grande que 900px*/
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container .header__button{
    position: absolute;
    /*Se toma la mitad del valor del contenedor, es decir, 229/2=115*/
    /*Tambien se puede centrar con: 
    left:0
    right:0
    margin-right: auto; 
    margin-left: auto; 
    */
    left: calc(50% - 115px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span{
    /*Para que se vea la imagen se debe colocar un display, ya que el span por dafualt viene con inline y no sirve*/
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icon/vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main{
    width: 100%;
    /*Para que el mismo contenido vaya definiendo el tamano del contenedor */
    height: auto;
    background-color: var(--off-white);

}

.main__exchange-container{
    width: 100%;
    height: auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange-container .main__exchange-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    /*Para que siempre este centrado*/
    margin: 0 auto;

}

.main__exchange-container .main__exchange-title-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
      
}

.main__exchange-container .main__exchange-title-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/*Para que todo se pueda ver, img, botones, entre otros, primero hay que darle dimensiones al contenedor*/
.main__exchange-container .backgroudImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/imgs/bitcoin.svg');
    /* En caso de que la imagen sea mas pequena no se repita*/
    background-repeat: no-repeat;
    background-size: cover;
    /*Para que siempre este centrada*/
    background-position: center;
}

.main__tables-container-slider{
    /*Para que los contenedores se muevan en rows*/
    display: flex;
    /*Un poco mas grande que las tarjetas de main__currency-table, height: 360px*/
    height: 370px;
   /*Agregar el scroll horizontal para las tarjetas*/
    overflow-x:scroll;
    overscroll-behavior-x: contain;
    /*Se debe aplicar en direccion x como es horizontal*/
    scroll-snap-type:x proximity;
 }

 /*Estilizando el scroll horizontal (fondo)*/

.main__tables-container-slider::-webkit-scrollbar {
    background-color: var(--just-white);
    /*Tamno en horizontal*/
    height: 3px;
    /*Tamano en vertical*/
    width: 10px;
}

/*
Con ::-webkit-scrollbar-thumb podremos modificar los bordes, fondo y sombras el componente thumb, lo mejor de todo es que podemos utilizar las pseudo clases active y hover sobre este componente*/

.main__tables-container-slider::-webkit-scrollbar-thumb{
    background-color: var(--bitcoin-orange);
    border-radius: 5px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.main__tables-container-slider::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 94, 3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.main__tables-container-slider::-webkit-scrollbar-thumb:active {
    background-color: rgb(255, 174, 0);
}

.main__currency-table , .main__commision-table{
    /*Para que al momento de desplazarte con el scroll horizontal, se haga una animacion de centrado directamente sobre el card de interes.*/
    position: relative;
    scroll-snap-align: center;
    /*ESTE CODIGO DE ARRIBA JUNTO AL POSITION RELATIVE*/
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    /*Para el espaciado entre las tarjetas*/
    margin: 0 5px;
    font-family: 'Inter', sans-serif;
}

.main__currency-table .main__currency-title{
    color: var(--bitcoin-orange);
}

.main__commision-table .main__commision-title{
    color: var(--secondary-blue);
}

.main__currency-table .main__currency-title, .main__commision-table .main__commision-title{ 
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    
}

.currency__table-container, .commision__table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
/*Para que la tabla utilice todo el espacio de su contenedor padre*/
.currency__table-container table, .commision__table-container table{
    width: 100%;
    height: 100%;
}


.currency__table-container td, .commision__table-container td{
    /*Ocupara el 50% de cada contenido denntro de la tabla*/
    width: 50%;
    font-size: 1.6rem;
    /*Para font weight no se usa px*/
    font-weight: 500;
    list-style: none;
    color:var(--grey);
    background-color: var(--just-white);
}

/*Se tiene que modificar el borde del contenido y no de la tabla, ya que la tabla no es visual*/
.currency__table-container .table__top-left{
    border-radius: 15px 0 0;
}
.currency__table-container .table__top-right{
    border-radius: 0 15px 0;
}
.currency__table-container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency__table-container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

/*Estilo de la columna derecha, segunda columna*/

.currency__table-container .table__right, .commision__table-container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency__table-container .down{
    /*Porque es un span*/
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icon/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency__table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icon/trending-up.svg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.currency__table-date{
    background-color: var(--soft-orange);
}

.commision__table-date{
    background-color: var(--soft-blue);
}

.currency__table-date, .commision__table-date{
    /*Se ajusta al tamano del contenido*/
    width: max-content;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
}

.currency__table-date p, .commision__table-date p{
    font-size: 1.2rem;
    /*Para cortar la herencia del estilo del font-weight de la linea 163, en la misma se definio para el font-weight: 500; si embargo, aqui cambiara. */ 
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);

}

.main__product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    /*El contenido marcara el tamano final*/
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);

}

.product__batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - (40px / 2));
    background-image: url('./assets/imgs/logo.svg');
}

.product__detail-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product__detail-title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product__detail-title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--font-card);
}

.product__detail-card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    /*Min-height para que crezca a medida que se agrega mas texto o con el contenido*/
    min-height: 150px;
    margin: 15px auto;
    padding:15px;
    background-color:var(--warm-black-card);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.16);
}

.product__detail-card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icon/clock.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product__detail-card .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icon/eye.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product__detail-card .money{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icon/dollar-sign.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product__detail-card .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icon/check-circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.product__detail-card .product__card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product__detail-card .product__card-body{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--font-card);
    
}

.bitcoin__img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/imgs/bitcoinbaby.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.bitcoin__img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight:bold;
    line-height: 2.6rem;
    color: var(--just-white);
    
}

.main__plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;

}

.plans__title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black); 
}

.plans__title p{
    text-align: center;
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/*SLIDER*/
.plans__container-slider{
    display: flex;
    /*Un poco mas alto que la tarjeta*/
    height: 290px;
    /*Agregar el scroll horizontal para las tarjetas*/
    overflow-x:scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
}

/*Estilizando el scroll horizontal (fondo)*/

.plans__container-slider::-webkit-scrollbar {
    background-color: var(--just-white);
    /*Tamno en horizontal*/
    height: 3px;
    /*Tamano en vertical*/
    width: 10px;
}

/*
Con ::-webkit-scrollbar-thumb podremos modificar los bordes, fondo y sombras el componente thumb, lo mejor de todo es que podemos utilizar las pseudo clases active y hover sobre este componente*/

.plans__container-slider::-webkit-scrollbar-thumb{
    background-color: var(--bitcoin-orange);
    border-radius: 5px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.container::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 94, 3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.container::-webkit-scrollbar-thumb:active {
    background-color: rgb(255, 174, 0);
}


.plans__container-card{
    /*Para que la etiqueta p de recomendado tenga position absolute y pueda sobresalir.*/
    position: relative;
    /*Para agregar animacion, centra cuando llega el scroll en el medio*/
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    /*Agregando el espacio entre las tarjetas*/
    margin:20px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

}

.recommended{
    position: absolute;
    /*la etiquita p si se puede dimensionar con width y height*/
    min-width: 120px;
    height: 31px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    padding: 8px;
    border-radius: 8px;
    left: calc(50% - (120px / 2));
    top: -15px;
}

.plan__info-container .plan__card-title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan__card-price{
    position: relative;
    /*padding: arriba-abajo derecha-izquierda*/
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
    /*Quitar espacios entre letras*/
    letter-spacing: -0.4rem;
}

.plan__card-price span{
    /*Para que el simbolo del dolar quede arriba*/
    vertical-align: 27px;
    font-size: 1.2rem;
    font-weight: 300;
    
}

.plan__card-saving{
    font-size: 1.2rem;
    color: #757575
}

.plan__card-ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}

.plan__card-ca span{
    /*Para que el span se pueda ver*/
    display: inline-block;
    width: 20px;
    height: 15px;
    background-image: url('./assets/icon/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Permite alinear el texto con la flecha*/
    vertical-align: text-bottom;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);

}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    list-style: none;
}

.left li{
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}






